<!-- footer starts -->		
	<div id="footer-wrap">
	
		
		
		<div id="footer-bottom">		
			
			<p>
			<a href="#">主页</a href="#">· <a href="#">随记</a>· 
			<a href="#">意见反馈</a>· <a href="#">关于我</a>
			<br>Powered by babata 
   		    </p>
			
		</div>
		
<!-- footer ends-->
</div>

<!-- wrap ends here -->
</div>

</body>
</html>
