<%- include head %>
<body>
<style>
.navBar{	
top: 0px;

border: 0px solid;	
z-index:999999999;

position:fixed;}
}
</style>

	
<div id="wrap">

	<!--header -->
	<div id="header">			
				
		<h1 id="logo-text"><a href="#" title="">Babata</a></h1>		
		<p id="slogan">人生若只如初见，何事西风悲画扇……</p>		
			
		<div id="header-links">
			<p>
			<!--<a href="index.html">Home</a> | 
			<a href="index.html">Contact</a> | 
			<a href="index.html">Site Map</a>	-->		
			</p>		
		</div>				
		
	<!--header ends-->					
	</div>
	
	
	
	<!-- navigation starts-->	
	<div  id="nav" class="navBar">
		<ul>
			<li id="current"><a href="index.html">主页</a></li>
			<li><a href="index.html">随记</a></li>
			<li><a href="index.html">意见反馈</a></li>
			<li><a href="index.html">关于我</a></li>
			<li><a href="index.html">QQ交流群：123456</a></li>	
		</ul>
	<!-- navigation ends-->	
	</div>					
			
	<!-- content-wrap starts -->
	<div id="content-wrap">
				
		<div id="main">
			<div style=border-style:dotted>
				<h2><a href="index.html">Template Info</a>
					<div style="float:right;fo">20&nbsp;</div>		
				</h2> 			
				<p >何事西风悲画扇…… is a free, W3C-compliant, CSS-based website template
				by <a href="http://www.cssmoban.com/">styleshout.com</a>. This work is
				distributed under the <a rel="license" href="http://creativecommons.org/licenses/by/2.5/">
				Creative Commons Attribution 2.5  License</a>, which means that you are free to
				use and modify it for any purpose. All I ask is that you give me credit by including a <strong>link back</strong> to
				<a href="http://www.cssmoban.com/">my website</a>.
				</p>

				<p>
				You can find more of my free template designs at <a href="http://www.cssmoban.com/">my website</a>.
				For premium commercial designs, you can check out
				<a href="#" title="Website Templates">DreamTemplate.com</a>.
				</p>
			
				<p class="postmeta">		
				<a href="index.html" class="readmore">Read more</a> |
				<a href="index.html" class="comments">Comments (7)</a> |				
				<span class="date">May 20, 2007</span>	
				</p>
				<div style="text-align:right">2012-08-07&nbsp;&nbsp;&nbsp;<span href="#" >阅读全文</span>&nbsp;&nbsp;&nbsp;</div>
				<br/>
			</div>	
			<br><br>
			<div style=border-style:dotted>
				<a name="SampleTags"></a>
				<h2><a href="index.html">Sample Tags</a></h2>
					
				<h3>Code</h3>				
				<p><code>
				code-sample { <br />
				font-weight: bold;<br />
				font-style: italic;<br />				
				}		
				</code></p>	
			</div>	
			<br><br>
			<div style=border-style:dotted>
				<h3>Example Lists</h3>
				
				<ol>
					<li>Here is an example</li>
					<li>of an ordered list</li>								
				</ol>	
			</div>
			<br><br>
			<div style=border-style:dotted>				
				<ul>
					<li>Here is an example</li>
					<li>of an unordered list</li>								
				</ul>				
			</div>
			<br><br>
			<div style=border-style:dotted>			
				<h3>Blockquote</h3>			
				<blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
				nibh euismod tincidunt ut laoreet dolore magna aliquam erat....</p></blockquote>
			</div>
			<br><br>
			<div style=border-style:dotted>			
				<h3>Image and text</h3>
				<p><a href="index.html"><img src="images/image-sample.jpg" width="144" height="144" alt="image sample" class="float-left" /></a>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
				Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
				posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum 
				odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra 
				condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. 
				In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
				Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
				posuere nunc justo tempus leo. 				
				</p>
			</div>
			<br><br>
			<div style=border-style:dotted>
				<h3>Table Styling</h3>							
				<table>
					<tr>
						<th class="first"><strong>post</strong> date</th>
						<th>title</th>
						<th>description</th>
					</tr>
					<tr class="row-a">
						<td class="first">04.18.2007</td>
						<td><a href="index.html">Augue non nibh</a></td>
						<td><a href="index.html">Lobortis commodo metus vestibulum</a></td>
					</tr>
					<tr class="row-b">
						<td class="first">04.18.2007</td>
						<td><a href="index.html">Fusce ut diam bibendum</a></td>
						<td><a href="index.html">Purus in eget odio in sapien</a></td>
					</tr>
					<tr class="row-a">
						<td class="first">04.18.2007</td>
						<td><a href="index.html">Maecenas et ipsum</a></td>
						<td><a href="index.html">Adipiscing blandit quisque eros</a></td>
					</tr>
					<tr class="row-b">
						<td class="first">04.18.2007</td>
						<td><a href="index.html">Sed vestibulum blandit</a></td>
						<td><a href="index.html">Cras lobortis commodo metus lorem</a></td>
					</tr>
				</table>
			</div>
			<br><br>
				<div style=border-style:dotted>			
				<h3>Example Form</h3>
				<form action="#">			
				<p>			
				<label>Name</label>
				<input name="dname" value="Your Name" type="text" size="30" />
				<label>Email</label>
				<input name="demail" value="Your Email" type="text" size="30" />
				<label>Your Comments</label>
				<textarea rows="5" cols="5"></textarea>
				<br />	
				<input class="button" type="submit" />		
				</p>		
				</form>	
			</div>
			<br />	

		<!-- main ends -->	
		</div>
		
	<%- include search %>	
		
	<!-- content-wrap ends-->	
	</div>
		
	

	<%- include foot %>	
	
