<div id="sidebar">
			
		<form action="#" class="searchform">
			<p>
			<input name="search_query" placeholder="文章搜索" class="textbox" type="text" />
			<input name="search" class="button" value="搜索" type="submit" />
			</p>			
		</form>	
				
		<h3>个人信息</h3>
		<ul class="sidemenu">				
			<li><a href="#">姓名：</a> 李杰</li>
			<li><a href="#">QQ：</a>  929541303</li>
			<li><a href="#">Email：</a>haiyang_16@126.com</li>	
			<li><a href="#">关注：</a>Java /JqueryMobile /Vaadin /移动开发 /前端开发</li>
			<li><a href="#">QQ交流群：</a>123456</li>
		</ul>
				
			
		<h3>文章分类</h3>
		<ul class="sidemenu">
			<li><a href="http://www.pdphoto.org/">java[10]</a></li>
			<li><a href="http://www.mayang.com/textures/">nodejs[10]</a></li>
			<li><a href="http://www.alistapart.com">javascript[10]</a></li>					
			<li><a href="#">hadoop[10]</a></li>
		</ul>
		
		<h3>热门文章</h3>
		<ul class="sidemenu">
			<li>1、<a href="#" title="Website Templates">DreamTemplate</a></li>
			<li>2、<a href="#" title="WordPress Themes">ThemeLayouts</a></li>
			<li>3、<a href="#" title="Website Hosting">ImHosted.com</a></li>
			<li>4、<a href="#" title="Stock Photos">DreamStock</a></li>
			<li>5、<a href="#" title="Website Builder">Evrsoft</a></li>
		</ul>
			
		<h3>最新留言</h3>
		<ul class="sidemenu">
			<li><a href="#" title="Website Templates">DreamTemplate: </a>fenwoafnwaofw aoowawf oaw oaw oawee fa</li>
			<li><a href="#" title="WordPress Themes">ThemeLayouts: </a>fewaf jawojfweaoj awoej fe</li>
			<li><a href="#" title="Website Hosting">ImHosted.com: </a>fewfweafa</li>
			<li><a href="#" title="Stock Photos">DreamStock:  </a>fweafwafwae</li>
			<li><a href="#" title="Website Builder">Evrsoft:  </a>ewafafaweaefaewwa</li>
		</ul>		
						
	<!-- sidebar ends -->		
</div>