
<div style=border-style:dotted>			
		<h3>留言</h3>
		<form action="#">			 
		<p>			
		<input name="dname" placeholder="名" id="nameId"  type="text" size="30" /> <span id="nameIdspan"></span><br><br>
		<input name="demail" placeholder="email" id="emailId"  type="text" size="30" /><br><br>
		<textarea rows="5" placeholder="留言" id="contentId" cols="5"></textarea>
		
		 <span id="contentIdspan"></span>
		<br />	
		<br/>
		<input class="button" type="button" value="提交" onclick="sendSuggest();"/>		
		</p>		
		</form>	
</div>
<br />	